# Admin API Endpoint
VITE_API_URL=http://localhost:3000

# Convex
VITE_CONVEX_URL=https://ceaseless-bloodhound-791.convex.cloud

# Admin Auth Config
VITE_ADMIN_SESSION_EXPIRY=86400000
VITE_ADMIN_PASSWORD_MIN_LENGTH=12
